.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Enable Vertical Scroll */
html, body {
  overflow-y: auto !important;  /* Allows scrolling */
  overflow-x: hidden; /* Prevents unwanted horizontal scroll */
  height: 100%;

}

/* Force scrollbar visibility */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #910909cc #1E1E1E; /* Scroll thumb & track colors */
  z-index: 1000;
}

/* Custom Scrollbar for Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 3px; /* Width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #1E1E1E; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #910909cc; /* Scroll thumb color */
  border-radius: 4px; /* Rounded corners */
  z-index: 1000;

}

::-webkit-scrollbar-thumb:hover {
  background: #ff5757; /* Lighter red on hover */
}


